@model Metro2036.Models.Route

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Route</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RouteId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RouteId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RouteName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RouteName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LineId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LineId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ExtId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ExtId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LineName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LineName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
