@model Metro2036.Models.TravelLog

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>TravelLog</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TravelCardId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TravelCardId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StationName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StationName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
